{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <table class="table table-hover">
        <tbody>
        {% for forum in forums %}
        <tr>
            <td>
                {# Uncomment this after implementing forum view #}
                {#<a href="{{ path('app_forum', {id: forum.id}) }}">{{ forum.title }}</a>#}
                <a>{{ forum.title }}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
